.flash {
    background: #f6f9fc;
    padding: 50px 0;
  }

  .products {
    padding: 10px;
  }
  
  .products .single-product {
    transition: 0.4s all;
    margin: 10px;
    text-align: center;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    padding: 10px;
  }
  
  .products .single-product:hover img {
    scale: 100%;
  }
  
  .products .single-product img {
    width: 100%;
    scale: 80%;
  }
  
  .products .single-product h4 {
    color: rgb(15, 15, 15);
  }
  
  .card-img-top1 {
    height: 250px;
    width: 355px;
  }
  
  .card-title {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color:black;
  }

  .card-title:hover {
    text-decoration-line: underline;
    color: black;
  }

  .card{
    transition: all 0.5 ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
  