.img {
    align-items: right;
    justify-content: right;
}

.carousel-item {
    height: 60vh;
    min-height: 200px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.carousel-caption{
    margin-top: 25px;
}
.carousel-indicators{
    padding: 50px;
}
.bn{
    width: 25vh;
    margin-left: 200px;
}
.card{
    background-color: blueviolet;
}


