.btna {
    display: block;
    width: 25%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 15px;
    padding: 5px;
    background-color: gray;
}
.btna:hover{
    background:black;
}
.product-display {
    margin: 2rem 0;
    overflow-y: scroll;
}
.product-display .product-display-table{
    width: 100%;
}
.product-display .product-display-table thead{
    font-size: 2rem;
    background: gray;
}.product-display .product-display-table td{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: var(--border);
}
.form-control2 {
    margin: 0 60px;
}
.form-control3 {
    width: 510px;
    margin-left:25%;
    float: center;
}
